<%-include('header') -%>
<div class="container-calendar">
    <div class="left">
        <div class="calendar">
            <div class="month">
                <i class="fa fa-angle-left prev"></i>
                <div class="date">November 2022</div>
                <i class="fa fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">
                <!-- we will add days with js -->
            </div>
            <div class="goto-today">
                <div class="goto">
                    <input type="text" placeholder="mm/yyyy" class="date-input">
                    <button class="goto-btn">GO</button>
                </div>
                <button class="today-btn">TODAY</button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="today-date">
            <div class="event-day">Thu</div>
            <div class="event-date">14 September 2023</div>
        </div>
        <div class="events">
            <div class="event">
                <div class="title">
                    <i class="fas fa-circle"></i>
                    <h3 class="event-title">Event 1</h3>
                </div>
                <div class="event-time">10:00am - 12:00pm</div>
            </div>
            <div class="event">
                <div class="title">
                    <i class="fas fa-circle"></i>
                    <h3 class="event-title">Event 1</h3>
                </div>
                <div class="event-time">10:00am - 12:00pm</div>
            </div>
            <div class="event">
                <div class="title">
                    <i class="fas fa-circle"></i>
                    <h3 class="event-title">Event 1</h3>
                </div>
                <div class="event-time">10:00am - 12:00pm</div>
            </div>
            <div class="event">
                <div class="title">
                    <i class="fas fa-circle"></i>
                    <h3 class="event-title">Event 1</h3>
                </div>
                <div class="event-time">10:00am - 12:00pm</div>
            </div>
        </div>
    </div>
    <!-- <button class="add-event">
        <i class="fas fa-plus"></i>
    </button> -->
</div>

<nav class="sidebar close">
    <header>
        <div class="image-text">
            <!-- <span class="image">
                <img src="logo.png" alt="logo">
            </span> -->

            <div class="text header-text">
                <span class="name">Coinnex</span>
                <span class="profession">Meeting Excellence</span>
            </div>
        </div>

        <!-- <i class='bx bx-chevron-right toggle'></i> -->
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon' ></i>
                    <input type="text" placeholder="Search...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/dashboard">
                        <i class='bx bx-home-alt icon' ></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/calendar">
                        <i class='bx bx-calendar icon' ></i>
                        <span class="text nav-text">View</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-list-ul icon'></i>
                        <span class="text nav-text">Organize</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-user-circle icon' ></i>
                        <span class="text nav-text">Account</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-history icon' ></i>
                        <span class="text nav-text">History</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/logout">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
        </div>
    </div>
</nav>
<%-include('footer') -%>